{% extends 'index.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for order in orders %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top h-50" src="{{ order.cart.products.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{order.cart.products.product_name}}</h5>
                            <!-- Product price-->
                            {{order.cart.products.price}}
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>

        
    </div>
</section>
{% endblock %}